src/__pycache__
src/regex/__pycache__
src/hulk_grammar/__pycache__
src/lexer/__pycache__
src/semantics/__pycache__
src/test/__pycache__
src/code_gen/__pycache__
src/code_gen/__pycache__/expression_visitor.cpython-312.pyc
src/parser/__pycache__
cmp/__pycache__
test-code-gen.ipynb